*{
	padding:0px;
	margin:0px;
}

@font-face {
  font-family: Montserrat;
  src:  url('fonts/Montserrat-Regular.ttf');
}

body{
	background: url("images/rocky-shore.jpg") no-repeat center center fixed, linear-gradient(120deg, lightblue 10%, lightblue 100%);
    background-blend-mode: luminosity;
  	background-size: cover;
  	height: 100%;
    /* font-family: Montserrat; */
    font-family: Calibri, sans-serif;
}

.slide1{
	background-color: white;
    width: 1080px;
	height: 590px;
	margin: 30px auto;
	border-radius: 10px;
}

.react{
	width:200px;
	height:70px;
	border-radius: 30px;
	background-color: black;
	margin: 10px auto;
}

#logo{
	width: 50px;
    height: 45px;
    margin: 13px;
	display: inline-block;
	vertical-align: top;
}

#txt{
	margin: 9px;
    display: inline-block;
    font-family: Calibri, sans-serif;
    color: white;
    font-size: 40px;
}

.black{
  	background-image: url("images/grand-canyon.jpg");
  	background-color: #111111DD;
    background-blend-mode: multiply;
    background-size: cover;

    width: 200px;
    height: 100%;
    
    display: inline-block;
    vertical-align: top;
	border-radius: 10px 0px 0px 10px;
	
}

.sec1{
    width: 199px;
    height: 50px;
    display: inline-block;
    border-radius: 10px 0px 0px 0px;
}

.sec1:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 90%;
    border-bottom: 1px solid gray;
}

.sec2{
    width: 199px;
    height: 60px;
    display: inline-block;
    margin-left: 4px;
}

.sec3{
    border-top: 1px solid gray;
    padding-top: 10px;
    width: 199px;
    height: 285px;
    display: inline-block;
}


.white{
	background-color: #F4F4F8;
    width: 880px;
    height: 550px;
    
	display: inline-block;
    border-radius: 0px 10px 10px 0px;
    margin-left: -4px;
}

.row1{
    width: 880px;
    height: 50px;
    display: inline-block;
    border-radius: 0px 10px 0px 0px;
    background-color: white;
}

.row2{
    width: 880px;
    height: 160px;
    display: inline-block;
    background-color: #F4F4F8;

    box-sizing: border-box;
    padding: 12px 20px;
}

.row3{
    width: 880px;
    height: 338px;
    display: inline-block;
    margin-top: 15px;
    background-color: #F4F4F8;
    border: 0px solid red;
}

.row4{
    width: 880px;
    height: 27px;
    display: inline-block;
    text-align: center;
    background-color: #F4F4F8;
    border-radius: 0px 0px 10px 0px;
}

.dash{
    height: 25px;
    display: inline-block;
    vertical-align: top;
    margin: 13px 10px;
    background-size: cover;
    background-color: white;
}

.snap{
    width: 180px;
    height: 125px;

    display: inline-block;
    vertical-align: top;

    box-sizing: border-box;
    margin: 15px 15px 15px 12px;
    padding: 2px 3px;
    border-radius: 3px;
    background-size: cover;
    background-color: white;
}

.data{
    width: 400px;
    height: 250px;
    
    display: inline-block;
    vertical-align: top;

    margin: 0px auto;
    border: 0px solid gold;
    border-radius: 3px;
    background-size: cover;
    background-color: white;
}

.data tr{
    line-height: 26px;
}

.data tr::before{
    content: "";
    display: block;
    margin: 0px auto;
    width: 90%;
    border-top: 1px solid whitesmoke;
}

.data td{
    border-top: thin solid whitesmoke;
    border-right: none;
    border-left: none;
}

.datahead{
    width: 814px;
    height: 70px;

    margin: 0px auto;
    padding: 5px;

    border-radius: 3px 3px 0px 0px;
    box-sizing: border-box;
    padding: 10px 15px;
    background-size: cover;
    background-color: white;
    font-family: Calibri, sans-serif;
}

.datahead h3{
    font-family: Arial;
    font-size: 22px;
    color: grey;
}

.more{
    height: 22px;
    display: inline-block;
    vertical-align: top;
    margin: 5px 8px;
    border-radius: 2px 2px 0px 0px;
    background-size: cover;
    background-color: white;

}

.map{
    width: 400px;
    height: 90%;
    object-fit: fill;
    margin: 5px 0px;
    border: 0px solid green;
    opacity: 0.7;
}

#logo1{
    width: 28px;
    height: 25px;
    margin: 13px;
    display: inline-block;
    vertical-align: top;
}

#txt1{
    margin: 16px 6px;
    display: inline-block;
    font-family: Calibri, sans-serif;
    color: lightgray;
    font-size: 16px;
}

#userphoto{
    width: 30px;
    height: 30px;
    margin: 15px 12px;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
}
#username{
    margin: 20px 6px;
    display: inline-block;
    font-family: Calibri, sans-serif;
    color: lightgray;
    font-size: 14px;
}

.menuicon{
    width: 25px;
    height: 20px;
    margin: 5px 12px;
    display: inline-block;
    vertical-align: top;
}

.menudesc{
    margin: 8px 6px;
    display: inline-block;
    font-family: Calibri, sans-serif;
    color: lightgrey;
    font-size: 13px;
}

.sub{
    height: 40px;
    width: 95%;
    margin: 0px auto;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    box-sizing: border-box;
    padding-top: 4px;
}

.sub:hover{
    background-color: #808080;
}

#pipe{
    width: 30px;
    height: 30px;
    margin: -3px -1px;
    display: inline-block;
    vertical-align: top;
}

.flag{
    width: 25px;
    height: 20px;
    margin: 5px 10px;
    display: inline-block;
    vertical-align: top;
}

.country, .saledetails{
    margin: 5px 0px;
    display: inline-block;
    font-family: Calibri, sans-serif;
    font-size: 15px;
}


.finder{
    width: 20px;
    height: 20px;
    margin: 3px 1px;
    vertical-align: top;
}

.search{
    width: 377px;
    height: 25px;
    margin: 0px -3px;
    color: grey;
    border: none;
    outline: none;
}

.elem{
    width: 20px;
    height: 20px;
    vertical-align: top;
    display: inline-block;
    margin: 2px 1px;
    padding:0px 18px;
}

.r1{
    width: 52px;
    height: 85px;
    display: inline-block;
    vertical-align: top;
    margin: 0px 0px;
    background-size: cover;
}
.r2{
    width: 118px;
    height: 85px;

    display: inline-block;
    vertical-align: top;

    border: 0px solid red;
    
    font-family: Calibri, sans-serif;
    text-align: right;
}

.r2 h5{
    font-size: 30px;
}

.r2 p{
    font-size: 18px;
}

.r2 p{
    margin: 10px 10px 4px 10px;
    /*width:75px;*/
}

.r2 h5{
    margin: 2px 10px 4px 10px;
}

.r3{
    width: 200px;
    height: 33px;
    font-size: 15px;
    font-family: Calibri, sans-serif;
    color: lightgray;
    display: inline-block;
    vertical-align: top;
    margin: 0px 0px;
    background-size: cover;
}

.r3:before {
    content: "";
    display: block;
    margin: 0px auto;
    width: 90%;
    border-top: 1px solid whitesmoke;
}

.r3 i{
    margin: 8px 2px 8px 11px;
    color: lightgray;
    /*font-family: Calibri, sans-serif;*/
}

.img{
    width: 40px;
    height: 35px;
    margin: 17px 6px;

}
